body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex-grow: 1;
    ;
}

.headertext {}

.tree {
    background-image: url(https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    object-position: fill;
}

.othertree {
    object-fit: contain;
    object-position: bottom;
    width: fit-content;
}

.fontwhite {
    font-family: 'Amatic SC', sans-serif;
    color: antiquewhite;
    text-shadow: 3px 3px 0 black;
}

.fontblack {
    font-family: 'Amatic SC', sans-serif;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 0 white;
}

.alignrightdamnit {
    text-align: start;
}


.alignc {
    text-align: start;
    padding-top: 5rem;
}

.floatcard {
    position: absolute;
    top: -38%;
    background-color: rgb(12, 107, 23);
}

.p3orient {}